  $auth-x: 0px;
  $auth-y: 0px;
  $auth-offset-x: 0px;
  $auth-offset-y: 0px;
  $auth-width: 28px;
  $auth-height: 32px;
  $auth-total-width: 48px;
  $auth-total-height: 208px;
  $auth-image: '../img/spritesheet.png';
  $auth: 0px 0px 0px 0px 28px 32px 48px 208px '../img/spritesheet.png';
  $cal-x: 0px;
  $cal-y: 32px;
  $cal-offset-x: 0px;
  $cal-offset-y: -32px;
  $cal-width: 27px;
  $cal-height: 32px;
  $cal-total-width: 48px;
  $cal-total-height: 208px;
  $cal-image: '../img/spritesheet.png';
  $cal: 0px 32px 0px -32px 27px 32px 48px 208px '../img/spritesheet.png';
  $social_fb-x: 0px;
  $social_fb-y: 64px;
  $social_fb-offset-x: 0px;
  $social_fb-offset-y: -64px;
  $social_fb-width: 48px;
  $social_fb-height: 48px;
  $social_fb-total-width: 48px;
  $social_fb-total-height: 208px;
  $social_fb-image: '../img/spritesheet.png';
  $social_fb: 0px 64px 0px -64px 48px 48px 48px 208px '../img/spritesheet.png';
  $social_in-x: 0px;
  $social_in-y: 112px;
  $social_in-offset-x: 0px;
  $social_in-offset-y: -112px;
  $social_in-width: 48px;
  $social_in-height: 48px;
  $social_in-total-width: 48px;
  $social_in-total-height: 208px;
  $social_in-image: '../img/spritesheet.png';
  $social_in: 0px 112px 0px -112px 48px 48px 48px 208px '../img/spritesheet.png';
  $social_tw-x: 0px;
  $social_tw-y: 160px;
  $social_tw-offset-x: 0px;
  $social_tw-offset-y: -160px;
  $social_tw-width: 48px;
  $social_tw-height: 48px;
  $social_tw-total-width: 48px;
  $social_tw-total-height: 208px;
  $social_tw-image: '../img/spritesheet.png';
  $social_tw: 0px 160px 0px -160px 48px 48px 48px 208px '../img/spritesheet.png';

  @mixin sprite-width($sprite) {
    width: nth($sprite, 5);
  }

  @mixin sprite-height($sprite) {
    height: nth($sprite, 6);
  }

  @mixin sprite-position($sprite) {
    $sprite-offset-x: nth($sprite, 3);
    $sprite-offset-y: nth($sprite, 4);
    background-position: $sprite-offset-x  $sprite-offset-y;
  }

  @mixin sprite-image($sprite) {
    $sprite-image: nth($sprite, 9);
    background-image: url(#{$sprite-image});
  }

  @mixin sprite($sprite) {
    @include sprite-image($sprite);
    @include sprite-position($sprite);
    @include sprite-width($sprite);
    @include sprite-height($sprite);
  }
