/* Colors, Fonts, Sizes */

// COLOR VARIABLES (http://clrs.cc/)

// Cool
$aqua:  #7FDBFF;
$blue:  #0074D9;
$navy:  #001F3F;
$teal:  #39CCCC;
$green: #2ECC40;
$olive: #3D9970;
$lime:  #01FF70;

// Warm
$yellow:  #FFDC00;
$orange:  #FF851B;
$red:     #FF4136;
$fuchsia: #F012BE;
$purple:  #B10DC9;
$maroon:  #85144B;

// Gray Scale
$white:  #fff;
$silver: #ddd;
$gray:   #aaa;
$medium_gray: #666;
$dark_gray: #333;
$black:  #111;

$body_bg: #f2f2f2;


// FONTS (google fonts)

// SIZES

//colorLine
$colorLine_height:		0.25em;//4px


//nav
$logo_height:			5em;//80px
$logo_width:			7.4375em;//119px
$logo_collapse_factor: 3;
$logo_height_collapsed:	$logo_height/$logo_collapse_factor;
$logo_width_collapsed:	$logo_width/$logo_collapse_factor;
$logo_vertical_margin:	1.25em;//20px

$links_height:						1.875em;//30px
$links_lineHeight:					1.9;
$links_horMargin_smallScreen:		1.3%;//2px
$links_horMargin_largeScreen:		0.8em;//8px
$links_horMargin_xLargeScreen:		1.5em;//8px
$links_marginTop_smallScreen:		0;
$links_marginTop_largeScreen:		1.75em;//28px

$nav_total_height_smallScreen: $logo_height + $logo_vertical_margin + $links_height;
$nav_total_height_largeScreen: $logo_height + $logo_vertical_margin;
$nav_paddingTop: $logo_vertical_margin;

$header_total_height_smallScreen: $nav_total_height_smallScreen+$colorLine_height+$logo_vertical_margin;
$header_total_height_largeScreen: $nav_total_height_largeScreen+$colorLine_height+$logo_vertical_margin;

//collapse navbar
$nav_total_height_smallScreen_collapsed: 2em;
$nav_paddingTop_collapsed: 0.5em;//8px

//main section
$mainSection_marginTop_extra: 2em;
$mainSection_marginTop_smallScreen: $header_total_height_smallScreen+$mainSection_marginTop_extra;
$mainSection_marginTop_largeScreen: $header_total_height_largeScreen+$mainSection_marginTop_extra;

$mainSection_maxWidth_large: 60em; //960px

// POST ARTICLE

$post_defaultHeight: 22em; //352px;
$post_newLateralPadding: 1.25em; //20px
$post_totalMaxWidth: 34.375em; //550px

//post_intro
$postIntro_hrOpacity: 0.5;
$post_intro_minWidth_largeScreen: 23em; //368px, i.e. 40% when the row is large (960px)
$postIntro_lateralPadding: 1em; //16px
$postIntro_paragraphVerticalMargin: 0.5em; //8px
$postIntro_paragraphFontSize_smallScreen: 0.9em;
$postIntro_paragraphFontSize_largeScreen: 1em;

$postIntroText_maxHeight: 13em;//208px
$postIntroText_paddingBottom_smallScreen: 2.25em; //36px
$postIntroText_paddingBottom_largeScreen: 0;

$postIntro_infoBarHeight: 2em; //32px
$postIntro_infoBarMarginBottom: 0.5em; //8px
$postIntro_infoBarSpanFontSize: 0.75em; //13px
$postIntro_infoBarSpanTopOffset: -0.6875em; //11px
$postIntro_infoBarSpanMarginRight: 0.3125em; //5px

$moreLess_width: 4em; //64px
$moreLess_height: 1.875em; //30px
$moreLess_rightOffset: 0;
$moreLess_BottomOffset: 0;

$postMoreTextPaddingBottom: 2em; //32px
$postMoreTextPaddingTop_smallScreen: 0;
$postMoreTextPaddingTop_largeScreen: 0.5em;//8px


// FOOTER
$map_height: 18.75em; //300px
$containerVerticalPadding: 1em; //16px

//icons
$inlineIcons_lateralMargin: 0.25em; //4px
$iconsZoom: 1.15;



//MEDIA QUERIES
$media-mobile-max: 767px !default;
$media-tablet-min: 768px !default;
$media-tablet-max: 1024px !default;
$media-desktop-min: 1025px !default;
