/* Headings Style */

h1,h2,h3, header {
	font-family: 'Montserrat', sans-serif;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.2em;
	margin-top: 0;
	padding-top: 0.5em;
	margin-bottom: 0.3em;
}

h3 {
	font-size: 1.2em;
}

@media screen and (min-width: $media-tablet-min) {
	h2 {
		font-size: 1.6em;
	}
	h3 {
		font-size: 1.4em;
	}
}