/* Paragraphs Style */


// containers whose font is light and gray
// the text should stay inside paragraphs
// the font size for mobile screens is slightly smaller
.textLight {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: $medium_gray;

	p {
		margin-bottom: $postIntro_paragraphVerticalMargin;
		margin-top: $postIntro_paragraphVerticalMargin;
		font-size: $postIntro_paragraphFontSize_smallScreen;

		strong {
			font-weight: 400;
			color: $dark_gray;
		}

	}
}

hr {
	opacity: $postIntro_hrOpacity;
}


@media screen and (min-width: $media-tablet-min) {
	.textLight p {
		font-size: $postIntro_paragraphFontSize_largeScreen;
	}
}

.textCenter {
	text-align: center;
}

