/* Blog Post Style */

//container
.post {
	box-sizing: border-box;
	padding-left: $post_newLateralPadding;
	padding-right: $post_newLateralPadding;
	margin-bottom: 4em;
}

// the 2 main blocks (intro and multimedia)
.post__content {
	height: $post_defaultHeight;
	box-sizing: border-box;
	max-width: $post_totalMaxWidth; //preventing a bigger width on tablet/mobile screen
	margin-left: auto;
	margin-right: auto;
}


// Text Part
.post__intro {
	padding-left: $postIntro_lateralPadding;
	padding-right: $postIntro_lateralPadding;
	height: auto;
	position:relative;
}
.post__intro__text {
	max-height: $postIntroText_maxHeight;
	overflow:hidden;

	// to make room for the "more" button,
	// since the container div doesn't have a fixed height 
	padding-bottom: $postIntroText_paddingBottom_smallScreen;
}

// as above, used when the additional text is displayed
.post__intro__text--moreText {
	padding-bottom: 0;
}


.post__intro__infoBar {
	height: $postIntro_infoBarHeight;
	margin-bottom: $postIntro_infoBarMarginBottom;

	span {
		font-size: $postIntro_infoBarSpanFontSize;
		display: inline-block;
		position: relative;
		top: $postIntro_infoBarSpanTopOffset;
		margin-right: $postIntro_infoBarSpanMarginRight;
		
		a {
			color: $medium_gray;
		}
	}	
}

.moreless {
	width: $moreLess_width;
	height: $moreLess_height;
	position:absolute;
	right: $moreLess_rightOffset;
	bottom: $moreLess_BottomOffset;

	cursor: pointer;
}

.post__more {
	transition: all 0.3s ease;
	max-height:0;
	overflow: hidden;
	position: relative;
	max-width: $post_totalMaxWidth;
	margin-left: auto;
	margin-right: auto;
	padding-left: $postIntro_lateralPadding;
	padding-right: $postIntro_lateralPadding;
}
.post__more__text {
	padding-top: $postMoreTextPaddingTop_smallScreen;
	padding-bottom: $postMoreTextPaddingBottom;
}

.post__more--visible {
	//triggers the animation, while the height
	//will remain auto
	max-height:2000px;
}

//Multimedia container
.post__multimedia {
	overflow: hidden;
	padding:0;
}

// Media Queries
@media screen and (min-width: $media-tablet-min) {
	.post__intro {
		// shoud substitute 23em with $post_intro_minWidth_largeScreen
		min-width: calc(23em);
		height: $post_defaultHeight;
	}

	.post__more {
		max-width: 2000px; //to make it full widht on table screens
	}

	.post__more__text {
		padding-top: $postMoreTextPaddingTop_largeScreen;
	}

	.post__intro__text {
		padding-bottom:$postIntroText_paddingBottom_largeScreen;
	}

	.post__multimedia {
		// shoud substitute 23em with $post_intro_minWidth_largeScreen
		max-width: calc(100% - 23em);
	}

}
@media screen and (min-width: $media-desktop-min) {

}