/* Carousel Style */

.post__multimedia--carousel {
	position: relative;
}
.carouselContainer {
	position: relative;
}

.carouselPlaceholder {

}

.carousel_imgContainer {
	display: inline-block;
	overflow: hidden;
	position:relative;
}


$carouselButton_fontSize: 1.1em;
$carouselButton_w: 2em;
$carouselButton_h: 2em;
$carouselButton_borderWidth: 0.125em;

.carousel_controlsContainer {
	position:absolute;
	right: 0;
	bottom: 0;
	font-size: $carouselButton_fontSize;
	height: $carouselButton_h;
	width: 2*$carouselButton_w - $carouselButton_borderWidth;
}

.carousel_prev, .carousel_next {
	position:absolute;
	bottom:0;
	width: $carouselButton_w;
	height:$carouselButton_h;
	border: $carouselButton_borderWidth solid white;
	box-sizing: border-box;
}

.carousel_prev {
	left: 0;
}
.carousel_next {
	right: 0;
}