/* Image Gallery Style */

.post__multimedia--image div {
	height:$post_defaultHeight;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.image_squid {
	background: url(../img/carousel/turbosquid.jpg);
}


//----------------------------------

.galleryContainer {
	float: left;
	height:50%;
	overflow: hidden;
	background: $dark_gray;
	position: relative;

	// to make the resize work
	a {
		display: block;
		width: 100%;
		height: 100%;
	}
}

.gallery4 {
	width:50%; //2 images each line
}
.gallery6 {
	width: 33.333%; //3 images each line
}
.gallery8 {
	width: 25%; //4 images each line
}

.imageFittingContainer {
	width:auto;
	height: 100%;

	cursor: pointer;

	&:hover {
		opacity: 0.5;
	}
}

.imageCenteredInContainer {
	//just a class for js
	position: absolute;
}