// PLUGIN VARIABLES, not stored inside general variables
$lateralMargins: 30px;
$closeButton_fontSize: 2.25em;
$closeButton_height: 2em;
$closeButton_width: 1.8em;
$navButton_fontSize: 2.25em;
$navButton_height: 1.7em;
$navButton_width: 1.3em;

$mediaQuery_minTabletWidth: 768px !default;
$mediaQuery_minDesktopWidth: 1025px !default;

$button_fontSize_small: 1.5em;
$button_fontSize_large: 2.25em;


.lightBox_Container {
	display:none;
	position: fixed;
	z-index: 9999;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background-color: black;
	background-color: rgba(0,0,0,0.8);

	//moving on separate layer for hardware acceleration
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
	backface-visibility: hidden;
	perspective: 1000;
	-webkit-transform: translatez(0);
    -moz-transform: translatez(0);
    -ms-transform: translatez(0);
    -o-transform: translatez(0);
    transform: translatez(0);
}

.lightBox_loader {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	background-image: url(../img/loader.gif);
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

// full screen too, the background-size and position will do their job
.lightBox_imageContainer {
	display: none;
	margin-left: $lateralMargins;
	margin-right: $lateralMargins;
	max-width: 100%;
	max-height: 100%;
	overflow: hidden;

	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}


.lightBox_closeContainer {
	position: absolute;
	width: 100%;
	top:0;
	bottom:50%;
}
.lightBox_close {
	font-size: $button_fontSize_small;
	width: $closeButton_width;
	height: $closeButton_height;
	margin-left: auto;
	margin-right: auto;
	border-bottom: 0.075em solid $white;
	border-left: 0.075em solid $white;
	border-right: 0.075em solid $white;
}
.lightBox_prev, .lightBox_next {
	display: none;
	position: absolute;
	bottom:0;
	padding-top: 0.3em;
	font-size: $button_fontSize_small;
	width: $navButton_width;
	height: $navButton_height;
	border-bottom: 0.075em solid $white;
	border-top: 0.075em solid $white;
}
.lightBox_prev {
	border-right: 0.075em solid $white;
	left:0;
}
.lightBox_next {
	border-left: 0.075em solid $white;
	right:0;
}


@media screen and (min-width: $mediaQuery_minTabletWidth) {
	.close, .prev, .next {
		font-size: $button_fontSize_large;
	}
}

@media screen and (min-width: $mediaQuery_minDesktopWidth) {
	
	.lightBox_imageContainer {
		max-width: $mediaQuery_minDesktopWidth - 2*$lateralMargins;
		margin-left: auto;
		margin-right: auto;
	}
}