.mainSection {
	margin-top: $mainSection_marginTop_smallScreen;
}

.centeredMaxWidth {
	margin-left: auto;
	margin-right: auto;

	max-width: $mainSection_maxWidth_large;
}

.hidden {
	display: none;
}