/* Header Style  and Main Section positioning*/
.fixed {
	position: fixed;
	z-index: 1000;
	width: 100%;
	top:0;
	left:0;

	//moving on separate layer for hardware acceleration
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
	backface-visibility: hidden;
	perspective: 1000;
	-webkit-transform: translatez(0);
    -moz-transform: translatez(0);
    -ms-transform: translatez(0);
    -o-transform: translatez(0);
    transform: translatez(0);
}

.thinLine {
	width: 100%;
	height: $colorLine_height;
}
.thinLine__segment {
	height: $colorLine_height;
}

.mainNav {
	height: $nav_total_height_smallScreen;
	color: $white;
	padding-top: $nav_paddingTop;
	font-size:0.8em;

	transition: all 0.3s ease;
}
.mainNav__logo {
	height: $logo_height;
	width: $logo_width;
	margin-bottom: $logo_vertical_margin;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../img/FilmCoLogo.png");
	background-repeat: no-repeat;
	background-size: cover;
}
.mainNav__linkBar {
	margin-left: auto;
	margin-right: auto;
	margin-top: $links_marginTop_smallScreen;
	text-align: center;
	height: $links_height;
}
.mainNav__linkBar__link {
	font-family: 'Open Sans', sans-serif;
	line-height: $links_lineHeight;
	color: $silver;
	text-decoration: none;
	margin-left: $links_horMargin_smallScreen;
	margin-right: $links_horMargin_smallScreen;

	&:hover {
		border-top: 3px solid $white;
		color: $white;
	}

	&:nth-child(4n-3) {
		border-top-color: $red;
	}
	&:nth-child(4n-2) {
		border-top-color: $teal;
	}
	&:nth-child(4n-1) {
		border-top-color: $yellow;
	}
	&:nth-child(4n) {
		border-top-color: $green;
	}
}


//COLLAPSED
.mainHeader--collapsed {
	.mainNav {
		height: $nav_total_height_smallScreen_collapsed;
		padding-top: $nav_paddingTop_collapsed;
	}
	.mainNav__logo {
		display: none;
	}
}


@media screen and (min-width: $media-tablet-min) {
	.mainSection {
		margin-top: $mainSection_marginTop_largeScreen;
	}
	.mainNav {
		height: $nav_total_height_largeScreen;
		font-size:1em;
	}
	.mainNav__linkBar {
		text-align: left;
		margin-top: $links_marginTop_largeScreen;
	}
	.mainNav__linkBar__link {
		margin-left: $links_horMargin_largeScreen;
		margin-right: $links_horMargin_largeScreen;
	}

	.mainHeader--collapsed {
		.mainNav__linkBar {
			margin-top: 0;
		}
		.mainNav__logo {
			margin-bottom: 0;
			display: block;
			height: $logo_height_collapsed;
			width: $logo_width/3;
			background-size: contain;
		}
	}
}

@media screen and (min-width: $media-desktop-min) {

	.mainNav__linkBar__link {
		margin-left: $links_horMargin_xLargeScreen;
		margin-right: $links_horMargin_xLargeScreen;
	}
}

