.inlineIcon {
	display: inline-block;
}

.lateralMarginIcon {
	margin-left: $inlineIcons_lateralMargin;
	margin-right: $inlineIcons_lateralMargin;
}

.containerVerticalPadding {
	padding-bottom: $containerVerticalPadding;
	padding-top: $containerVerticalPadding;
}

.imgCal {
	@include sprite($cal);
}

.imgAuthor {
	@include sprite($auth);
}

.imgTwitter {
	@include sprite($social_tw);
}
.imgFacebook {
	@include sprite($social_fb);
}
.imgLinkedin {
	@include sprite($social_in);
}

.zoomableIcon {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;

	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);

	&:hover {

		z-index: 9999;

		-webkit-transform: scale($iconsZoom);
		-moz-transform: scale($iconsZoom);
		-ms-transform: scale($iconsZoom);
		-o-transform: scale($iconsZoom);
		transform: scale($iconsZoom);
	}
}